:root{
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --filter-button-color: #F5F4FA;
  --border-color: #ECECEC;
  --hero-grount: #2F303A;
  --hero-button: #188CE8;
  --futer-grount: #2F303A;
  --portofolio-card-border:#EEEEEE;
  --background-card: #FFFFFF;
  --hero-bg:#C4C4C4;
  --clients-color: #AFB1B8;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 0;
}
img{
  display: block;
}
button{
border-width: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*========servises=====*/
.link{
  text-decoration: none;
  font-family: inherit  
}
.list{
  list-style: none;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0); 
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;     
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
  display: block;
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus{
  color: var(--accent-color);
}
.footer-link{
  line-height: 1.71;  /* or 171% */
}
.btn-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* identical to box height, or 162% */
  text-align: center;
  color: var(--secondary-text-color);
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
}
/*========prodact=====*/
/*========header=====*/
.header{
  border-bottom: 1px solid var(--border-color);
}
.header-container{
  display: flex;
  align-items: center;
}
.header-navigation{
  display: flex;
  align-items: center;
}
.header-list{
  display: flex;
  align-items: center;
}
.header-kontacts-flex{
  display: flex;
  margin-left: auto;
  align-items: center;
}
.logo-flex{
  margin-right: 93px;
}
.logo-header-studio{
  color: var(--secondary-text-color);
}
.header-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus,
.current{
  color: var(--accent-color);
}

.current::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -1px;
}
.header-item:not(:last-child){
  margin-right: 50px;
}
.header-kontacts-item{
  color: var(--primary-text-color);
}
.header-kontacts-sep:not(:last-child){
  margin-right: 50px; /* отступ между мылом и телефоном без последнего ребенка */
}
.icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-item{
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-item:hover,
.header-link-item:focus{
  color: var(--accent-color);
}
.header-link-item:hover .icon,
.header-link-item:focus .icon{
  fill: var(--accent-color);
}
/*========hero=====*/
.hero{
  background-color: var(--hero-bg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), 
      url(../images/hero-jpeg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  width: 696px;
  margin-bottom: 30px;
}
.hero-btn {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--third-text-color);
  background-color: var(--hero-button);
}
/*========= ПОЧЕМУ МЫ ===========*/
.whyus{
}
.whyus-container{
  display: flex;
}
.ourteam-list,
.whyus-list,
.wedoing-list,
.clients-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.wedoing-item,
.ourteam-item,
.whyus-item{
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.whyus-item-pkt{
  height: 120px;
  background-color: var(--filter-button-color);
  border-radius: 4px;
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.whyus-pkt-item{
  width: 70px;
  height: 70px; 
}
.whyus-item-header{
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
.whyus-item-text{
  line-height: 1.71;   /* or 171% */
  color: var(--primary-text-color);
}
/*======== Чем мы занимаемся ==========*/
.wedoing{
  padding-top: 0px;
}
.ourteam-title,
.wedoing-title,
.clients-title{
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}
.wedoing-item{
  position: relative;
}
.wedoing-text{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}
/*======== НАША КОМАНДА ==========*/
.ourteam{
  background: var(--filter-button-color);
}
.ourteam-card{
  background: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: block; 
  padding-bottom: 30px;/* новый отсттуп - при любом количестве пикт*/
}
.ourteam-item-title{
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.ourteam-item-text{
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 16px;
}
.ourteam-socital-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourteam-socital-item{
}
.ourteam-socital-item +.ourteam-socital-item{
  margin-left: 10px;
}
.ourteam-socital-link{
  width: 44px; 
  height: 44px;
  border-radius: 50%;
  display: block;
  background-color: var(--primary-title-color);
  display: flex;  
  align-items: center;
  justify-content: center;
  transition: background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socital-link-pkt{
fill: var(--clients-color);
width: 20px;
height: 20px;
transition: fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-socital-link:hover,
.ourteam-socital-link:focus{
  background-color: var(--accent-color);
}
.ourteam-socital-link:hover .socital-link-pkt,
.ourteam-socital-link:focus .socital-link-pkt{
  fill: var(--primary-title-color);
}
/*======== ПОСТОЯННЫЕ КЛИЕНТЫ ==========*/
.clients-item{
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.clients-link{
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  fill: var(--clients-color); 
  transition: border 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus{
  border: 1px solid var(--hero-button);
  fill: var(--hero-button);
}
.clients-icon{
  width: 106px;
  height: 60px;
}
/*======== ФУТЕР ==========*/
.footer{
  background: var(--futer-grount);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact{
  font-style: inherit;
}
.address{
  color: var(--third-text-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact{
}
.address:hover,
.address:focus{
  color: var(--accent-color);
}
.contact{
  color: rgba(255, 255, 255, 0.6);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus{
  color: var(--accent-color);
}
.footer-logo{
  margin-bottom: 20px; 
}
.logo-footer-studio{
  color:var(--primary-title-color);
}
.footer-item,
.footer-link:not(:last-child){
  margin-bottom: 9px;
}
.footer-section{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer-section-item:not(:last-child){
  margin-right: 70px;
}
.footer-section-item:last-child{
  margin-left: auto;
  }
.section-common-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-common-title{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: calc(16 / 14);
  color: var(--primary-title-color);
  margin-bottom: 20px;
}
.section-common-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  margin-top: -30px;
}
.section-common-item{
  width: 44px;
  height: 44px;
  flex-basis: calc(100% / 4 - 10px);
  margin-left: 10px;
  margin-top: 30px;
}
.section-common-item +.section-common-item{
  margin-left: 10px;
} 
.section-common-link{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;  
  align-items: center;
  justify-content: center;
  transition: background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.section-common-link:hover,
.section-common-link:focus{
  background-color: var(--accent-color);
}
.section-common-pkt{
  fill: var(--primary-title-color);
  width: 20px;
  height: 20px;
}
.footer-mailing-title{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 20px;
}
.footer-mailing-form{
position: relative;
}
.footer-mailing-box{
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);  
}
.footer-mailing-box:hover,
.footer-mailing-box:focus{
  border: 1px solid var(--accent-color);
}
.footer-mailing-btn{
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
}
.footer-mailing-icon{
  width: 24px;
  height: 24px;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transition: transform 2250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-mailing-icon:hover,
.footer-mailing-icon:focus{
  transform: rotate(25deg) translateX(-45%);/*Шютка*/
}
/*======== ФИЛЬТР ==========*/
.portofolio-hero{
}
.filtr-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr-item:not(:last-child){
  margin-right: 8px;
}
.filtr-btn {
  color: var(--secondary-text-color);
  background: var(--filter-button-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn:hover,
.filtr-btn:focus,
.carrent-btn{
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*======== ПОРТОФОЛИО ==========*/
.portofolio-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portofolio-item{
  flex-basis: calc(100% / 3 - 30px);
  box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;  
}
.portofolio-link{
  transition: box-shadow 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portofolio-link:hover,
.portofolio-link:focus{
  display: block;
  outline: none;
  box-shadow:     
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portofolio-link:hover .porofolio-top-text,
.portofolio-link:focus .porofolio-top-text{
transform: translateY(0);
}
.portofolio-item-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;/* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}
.portofolio-item-text{
  font-size: 16px;
  line-height: 1.87; /* identical to box height, or 187% */
  color: var(--primary-text-color);
}
.portofolio-item-card{
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;  
  border: 1px solid var(--portofolio-card-border);
  border-top:  0px;
  box-sizing: border-box;
}
.portofolio-top-wrappter{
position: relative;
overflow:hidden;
}
.porofolio-top-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*======== МОДАЛЬНОЕ ОКНО ==========*/
.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 240ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden
.modal{
  opacity: 0;
  transform: scale(0);
  }
.modal{
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-title-color);
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-title{
  font-size: 20px;
  line-height: calc(23 / 20);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-field{
  margin-bottom: 10px;
}
.input-label{
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}
.input-wrapper{
  display: block;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
  color: var(--primary-text-color)
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-color);
}
.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon{
  fill: var(--accent-color);
}

.input-icon{
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-commit{
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  background-color: transparent;
  padding: 10px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color)
}
.modal-user-commit::placeholder{
  color: rgba(117, 117, 117, 0.5);
}
.modal-user-commit:hover,
.modal-user-commit:focus {
  border: 1px solid var(--accent-color);
}

.modal-btn{
  display: block;
  margin: 0 auto;
}
.check-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.check-text span{
  width: 16px;
  height: 15px;
  border: 2px solid var(--futer-grount);
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:hover +.check-text span,
.modal-checkbox:focus +.check-text span{
  border: 2px solid var(--accent-color);
}
.modal-checkbox:checked +.check-text span{
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.close-btn{
  position: absolute;
  right:10px;
  top:10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--secondary-title-color);
  border-radius: 50%;
  background: #00000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0; /* змінює розміри "Х" на 18х18 з 16х18*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.close-btn:hover,
.close-btn:focus{
  fill: var(--accent-color)
}

.modal-icon-cancel{
  width: 18px;
  height: 18px;
}