.header{
  border-bottom: 1px solid var(--border-color);
}
.header-container{
  display: flex;
  align-items: center;
}
.header-navigation{
  display: flex;
  align-items: center;
}
.header-list{
  display: flex;
  align-items: center;
}
.header-kontacts-flex{
  display: flex;
  margin-left: auto;
  align-items: center;
}
.logo-flex{
  margin-right: 93px;
}
.logo-header-studio{
  color: var(--secondary-text-color);
}
.header-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus,
.current{
  color: var(--accent-color);
}

.current::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -1px;
}
.header-item:not(:last-child){
  margin-right: 50px;
}
.header-kontacts-item{
  color: var(--primary-text-color);
}
.header-kontacts-sep:not(:last-child){
  margin-right: 50px; /* отступ между мылом и телефоном без последнего ребенка */
}
.icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-item{
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-item:hover,
.header-link-item:focus{
  color: var(--accent-color);
}
.header-link-item:hover .icon,
.header-link-item:focus .icon{
  fill: var(--accent-color);
}