.dis-fl--d{
  display: flex;
}
.dis-fl--da{
  display: flex;
  align-items: center;
}
.dis-fl--daj{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dis-fl--dw{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dis-fl--dwj{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dis-fl--dwaj{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}